* {
  margin: 0;
  padding: 0;
}

.main {
  height: 60vh;
  background-image: url(kristaller.jpg);
  border: solid;
  border-color: pink;
  border-width: 50vh;
  border-top: 5cm;
  border-bottom: 5cm;
}

.title {
  display: flex;
  height: 100%;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 2cm;
}

.top {
  display: flex;
  justify-content: space-between;
}

.kristallguide {
  color: white;
  margin-left: 5mm;
  margin-right: 30em;
}

.topbuttons1 {
  text-decoration: none;
  color: white;
}

.topbuttons2 {
  text-decoration: none;
  color: white;
  margin-right: 5mm;
}

.paragraph {
  color: black;
}
